.sign {
  margin-block: 60px;
}
.sign__form {
  align-self: center;
}
.sign__form p {
  margin-bottom: 40px;
}
.sign__form .input-group {
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #9CADF2;
  border-radius: 10px;
}
.sign__form .input-group img {
  padding-right: 8px;
  border-right: 1px solid #9CADF2;
}
.sign__form .input-group input {
  width: 100%;
  border: 0;
  padding-block: 8px;
}
.sign__form .input-group input::placeholder {
  color: #000;
}
.sign__form button {
  width: 100%;
  margin-top: 10px;
  padding-block: 19px;
  color: #fff;
  border: 0px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(170deg, #2663df 0%, #758ff0 100%);
  cursor: pointer;
}
.sign__form button:disabled {
  opacity: 0.5;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .sign__form {
    text-align: center;
  }
}